applications/WeedApp/WeedApp.java
applications/MyRemoteImpl/MyRemoteImpl/build/classes/java/main/fme/MyRemote.class
applications/MyRemoteImpl/MyRemoteImpl/build/classes/java/main/fme/MyRemoteClient.class
applications/MyRemoteImpl/MyRemoteImpl/build/classes/java/main/fme/MyRemoteImpl.class
applications/MyRemoteImpl/MyRemoteImpl/build/libs/MyRemoteImpl.jar
applications/MyRemoteImpl/MyRemoteImpl/build/tmp/jar/MANIFEST.MF
applications/MyRemoteImpl/MyRemoteImpl/bin/.project
applications/MyRemoteImpl/MyRemoteImpl/bin/build.gradle
applications/MyRemoteImpl/MyRemoteImpl/bin/gradlew
applications/MyRemoteImpl/MyRemoteImpl/bin/README.md
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/6.4/gc.properties
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/6.4/executionHistory/executionHistory.bin
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/6.4/executionHistory/executionHistory.lock
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/6.4/fileChanges/last-build.bin
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/6.4/fileContent/fileContent.lock
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/6.4/fileHashes/fileHashes.bin
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/6.4/fileHashes/fileHashes.lock
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/6.4/javaCompile/classAnalysis.bin
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/6.4/javaCompile/javaCompile.lock
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/6.4/javaCompile/taskHistory.bin
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/buildOutputCleanup/buildOutputCleanup.lock
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/buildOutputCleanup/cache.properties
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/buildOutputCleanup/outputFiles.bin
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/checksums/checksums.lock
applications/MyRemoteImpl/MyRemoteImpl/bin/.gradle/vcs-1/gc.properties
applications/MyRemoteImpl/MyRemoteImpl/bin/.settings/org.eclipse.buildship.core.prefs
applications/MyRemoteImpl/MyRemoteImpl/bin/.settings/org.eclipse.jdt.core.prefs
applications/MyRemoteImpl/MyRemoteImpl/bin/.vscode/launch.json
applications/MyRemoteImpl/MyRemoteImpl/bin/.vscode/settings.json
applications/MyRemoteImpl/MyRemoteImpl/bin/.vscode/tasks.json
applications/MyRemoteImpl/MyRemoteImpl/bin/build/libs/MyRemoteImpl.jar
applications/MyRemoteImpl/MyRemoteImpl/bin/build/tmp/jar/MANIFEST.MF
applications/MyRemoteImpl/MyRemoteImpl/bin/main/fme/MyRemote.class
applications/MyRemoteImpl/MyRemoteImpl/bin/main/fme/MyRemoteClient.class
applications/MyRemoteImpl/MyRemoteImpl/bin/main/fme/MyRemoteImpl.class
applications/MyRemoteImpl/MyRemoteImpl/bin/src/main/java/fme/MyRemote.class
applications/MyRemoteImpl/MyRemoteImpl/bin/src/main/java/fme/MyRemoteClient.class
applications/MyRemoteImpl/MyRemoteImpl/bin/src/main/java/fme/MyRemoteImpl.class
